<template>
  <div id="app" class="base">
    <Home />
  </div>
</template>
<script>
import Home from "./views/Home.vue";

export default {
  name: "App",
  components: { Home },
};
</script>
<style lang="scss" scoped>
@import "./assets/scss/_mixin.scss";
@import "./assets/scss/_variables.scss";
#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;
  font-size: 24px;
}
.base {
  @include container();
}
</style>
